{% extends 'message/base.html' %}
{% block pagename %}Messages{% endblock %}
{% block nav_messages %}active{% endblock %}

{% block content %}

    <section class="messages">
        {% for message in object_list %}
        <div class="message">
            <h3 class="message-title"> {{message.title}} </h3>
            <small class="message-info">
                <span class="message-date"> {{message.created}} </span> •
                <span class="message-user"> {{message.user}} </span>
            </small>
            <p class="message-text"> {{message.text}} </p>
        </div>
        {% empty %}
        <h3>Hmm! There are no messages! Check in Later or add a new message.</h3>
        {% endfor %}
    </section>

{% endblock %}